asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==2.0.12
Django==5.1.7
gunicorn==23.0.0
idna==3.10
librouteros==3.4.1
packaging==24.2
requests==2.27.1
sqlparse==0.5.3
toml==0.10.2
tzdata==2025.1
urllib3==1.26.20
whitenoise==6.9.0
