{% extends 'wifi/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-7">
    
    <div class="alert alert-success text-center" role="alert">
        <h4 class="alert-heading">Password Changed Successfully!</h4>
        <p>Your password has been updated successfully.</p>
        <hr>
        <p class="mb-0">
            <a href="{% url 'home' %}" class="btn btn-primary">Go to Home</a>  
            <a href="{% url 'login' %}" class="btn btn-secondary">Login Again</a>
        </p>
    </div>
</div>

{% endblock %}
