{% extends 'wifi/base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="auth-container" style="margin-bottom: 200px;">
    <div class="auth-box">
        <h2>Reset Password</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>
            <button type="submit" class="auth-btn">Send Reset Link</button>
        </form>
    </div>
</div>

{% endblock %}
