{% extends 'wifi/base.html' %}
{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <h2>Set New Password</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="password" name="new_password1" placeholder="New password" required>
            </div>
            <div class="input-group">
                <input type="password" name="new_password2" placeholder="Confirm new password" required>
            </div>
            <button type="submit" class="auth-btn">Set Password</button>
        </form>
    </div>
</div>
{% endblock %}
